@import "tailwindcss";

/* :root {
  --background: #F5F5F5;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F5F5;
    --foreground: #ededed;
  }
} */

body {
 --background: #F5F5F5;
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --animate-spiral: spiral 0.6s ease-in-out;
}
.spiral-hover:hover {
  animation: spiral 0.6s ease-in-out;
}

/* @keyframes spiral {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.15);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
} */
@keyframes spiral {
  0% {
    transform: rotate(-180deg) scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}

.spiral-hover-in:hover {
  animation: spiral-in 0.4s ease-out forwards;
}